vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Mar 2021 22:35:53 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|MAINLAPTOP\\Andrea
vti_modifiedby:SR|MAINLAPTOP\\Andrea
vti_timecreated:TR|16 Mar 2021 18:34:39 -0000
vti_backlinkinfo:VX|index.html
vti_cacheddtm:TX|16 Mar 2021 22:35:53 -0000
vti_filesize:IR|13082
vti_cachedlinkinfo:VX|S|ajxlightbox1_files/zoomin.cur S|ajxlightbox1_files/play.gif S|ajxlightbox1_files/zoomout.cur S|data:image/gif;base64,AAAA S|ajxlightbox1_files/previous.png S|data:image/gif;base64,AAAA S|ajxlightbox1_files/next.png S|ajxlightbox1_files/loading.gif S|ajxlightbox1_files/controlbar.gif S|ajxlightbox1_files/controlbar.gif S|ajxlightbox1_files/controlbar.gif S|ajxlightbox1_files/close.png
vti_cachedsvcrellinks:VX|FSUS|ajxlightbox1_files/zoomin.cur FSUS|ajxlightbox1_files/play.gif FSUS|ajxlightbox1_files/zoomout.cur NSUS|data:image/gif;base64,AAAA FSUS|ajxlightbox1_files/previous.png NSUS|data:image/gif;base64,AAAA FSUS|ajxlightbox1_files/next.png FSUS|ajxlightbox1_files/loading.gif FSUS|ajxlightbox1_files/controlbar.gif FSUS|ajxlightbox1_files/controlbar.gif FSUS|ajxlightbox1_files/controlbar.gif FSUS|ajxlightbox1_files/close.png
