vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Mar 2021 01:35:29 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|LAPTOP-FE1CT5G7\\andre
vti_modifiedby:SR|LAPTOP-FE1CT5G7\\andre
vti_timecreated:TR|11 Mar 2021 01:35:29 -0000
vti_cacheddtm:TX|11 Mar 2021 01:35:29 -0000
vti_filesize:IR|9315
vti_cachedlinkinfo:VX|S|ajxlightbox_files/zoomin.cur S|ajxlightbox_files/play.gif S|ajxlightbox_files/zoomout.cur S|data:image/gif;base64,AAAA S|ajxlightbox_files/previous.png S|data:image/gif;base64,AAAA S|ajxlightbox_files/next.png S|ajxlightbox_files/loading.gif S|ajxlightbox_files/close.png
vti_cachedsvcrellinks:VX|FSUS|ajxlightbox_files/zoomin.cur FSUS|ajxlightbox_files/play.gif FSUS|ajxlightbox_files/zoomout.cur NSUS|data:image/gif;base64,AAAA FSUS|ajxlightbox_files/previous.png NSUS|data:image/gif;base64,AAAA FSUS|ajxlightbox_files/next.png FSUS|ajxlightbox_files/loading.gif FSUS|ajxlightbox_files/close.png
vti_backlinkinfo:VX|
